<section id="skills">
  <h2 class="section-title">Skills</h2>

  <div class="flex gap-2 flex-wrap">
    {% for skill in skills %}
      <span class="skill-badge">{{ skill }}</span>
    {% endfor %}
  </div>
</section>
